@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 209 47% 98%;
    --foreground: 209 80% 1%;
    --muted: 209 5% 87%;
    --muted-foreground: 209 13% 28%;
    --popover: 209 47% 97%;
    --popover-foreground: 0 0% 0%;
    --card: 209 47% 97%;
    --card-foreground: 0 0% 0%;
    --border: 209 6% 91%;
    --input: 209 6% 91%;
    --primary: 209 72% 25%;
    --primary-foreground: 209 72% 95%;
    --secondary: 209 5% 90%;
    --secondary-foreground: 209 5% 30%;
    --accent: 209 5% 90%;
    --accent-foreground: 209 5% 30%;
    --destructive: 8 100% 21%;
    --destructive-foreground: 8 100% 81%;
    --ring: 209 72% 25%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 209 35% 3%;
    --foreground: 209 25% 100%;
    --muted: 209 5% 13%;
    --muted-foreground: 209 13% 72%;
    --popover: 209 35% 4%;
    --popover-foreground: 0 0% 100%;
    --card: 209 35% 4%;
    --card-foreground: 0 0% 100%;
    --border: 209 6% 14%;
    --input: 209 6% 14%;
    --primary: 209 72% 25%;
    --primary-foreground: 209 72% 85%;
    --secondary: 209 13% 8%;
    --secondary-foreground: 209 13% 68%;
    --accent: 209 13% 8%;
    --accent-foreground: 209 13% 68%;
    --destructive: 8 100% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 209 72% 25%;
  }
 
  * {
    @apply border-border;
  }

  body {
    @apply bg-transparent text-foreground;
  }
}
